@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul,
ol {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
  text-decoration-skip-ink: auto;
  text-decoration: none;
  color: currentColor;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

.checkbox__label, .checkbox__input, .checkbox-wrapper, .input-svg, .close-modal-btn, .portfolio__overlay, .clients__link, .works__img-wrapper, .summary__svg-wrapper, .hero__container, .button, .social__link, .address__link, .address__list, .nav__list, .nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 1200px;
  padding: 0px 15px;
  margin-right: auto;
  margin-left: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul,
ol {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
  text-decoration-skip-ink: auto;
  text-decoration: none;
  color: currentColor;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

.header {
  border-bottom: 1px solid rgb(236, 236, 236);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: block;
  font-family: "Raleway", sens-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  text-transform: none;
}

.logo__item {
  color: rgb(33, 150, 243);
}

.header__logo {
  margin-right: 91px;
}

.nav__item {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  text-transform: none;
  color: rgb(33, 33, 33);
}
.nav__item:not(:last-child) {
  margin-right: 52px;
}

.nav__link {
  display: block;
  min-height: 80px;
  padding-top: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: rgb(33, 150, 243);
}

.address__item {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  text-transform: none;
  color: rgb(117, 117, 117);
}
.address__item:not(:last-child) {
  margin-right: 30px;
}

.address__link {
  min-height: 80px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: rgb(117, 117, 117);
}
.address__link:hover, .address__link:focus {
  color: rgb(33, 150, 243);
  fill: rgb(33, 150, 243);
}

.address__svg {
  margin-right: 10px;
}

.current {
  color: rgb(33, 150, 243);
}
.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
  height: 4px;
  background: rgb(33, 150, 243);
  border-radius: 2px;
}

.social-list {
  display: flex;
  justify-content: space-between;
  width: 206px;
}

.social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: rgb(175, 177, 184);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  fill: rgb(255, 255, 255);
  background-color: rgb(33, 150, 243);
}

.social__list--dark {
  background-color: rgba(255, 255, 255, 0.1);
}

.title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  text-transform: none;
  text-align: center;
  color: rgb(33, 33, 33);
  margin-bottom: 50px;
}

.button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-transform: none;
  width: 200px;
  height: 50px;
  color: rgb(255, 255, 255);
  background-color: rgb(33, 150, 243);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.hero {
  max-width: 1600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/backgrounds/hero_bck.jpg);
  margin-left: auto;
  margin-right: auto;
}

.section.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__container {
  flex-direction: column;
}

.hero__title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  width: 696px;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
}

.hero__button {
  width: 216px;
}

.section.summary {
  padding-bottom: 0px;
}

.summary__list {
  display: flex;
  justify-content: space-between;
}

.summary__item {
  width: 270px;
}

.summary__svg-wrapper {
  width: 100%;
  height: 120px;
  background-color: rgb(245, 244, 250);
  margin-bottom: 30px;
}

.summary__item-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.summary__item-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  text-transform: none;
  color: rgb(117, 117, 117);
}

.works__list {
  display: flex;
  justify-content: space-between;
}

.works__item {
  position: relative;
}

.works__img-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 370px;
  min-height: 70px;
  color: rgb(255, 255, 255);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: rgb(245, 244, 250);
}

.team__list {
  display: flex;
  justify-content: space-between;
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: rgb(255, 255, 255);
}

.team__item-footer {
  padding: 30px 32px;
}

.team__name {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-transform: none;
  text-align: center;
  color: #212121;
  margin-bottom: 10px;
}

.team__speciality {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-transform: none;
  text-align: center;
  color: rgb(117, 117, 117);
  margin-bottom: 16px;
}

.clients__list {
  display: flex;
  justify-content: space-between;
}

.clients__link {
  width: 170px;
  height: 92px;
  border: 1px solid rgb(175, 177, 184);
  border-radius: 4px;
  fill: rgb(175, 177, 184);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border-color: rgb(33, 150, 243);
  fill: rgb(33, 150, 243);
}

.footer {
  background-color: rgb(47, 48, 58);
  padding: 60px 0px;
}

.footer__container {
  display: flex;
}

.footer__left {
  width: 231px;
  margin-right: 70px;
}

.footer__logo {
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

.footer__address-item {
  display: block;
  width: auto;
  height: auto;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  text-transform: none;
  color: rgba(255, 255, 255, 0.6);
}
.footer__address-item:first-child {
  color: rgb(255, 255, 255);
}
.footer__address-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__center {
  padding-top: 12px;
  margin-right: 93px;
}

.footer__title {
  display: block;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

.footer__social-link {
  fill: rgb(255, 255, 255);
}

.footer__right {
  padding-top: 12px;
}

.footer__form {
  display: flex;
}

.form__input {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-transform: none;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: rgb(255, 255, 255);
  background-color: transparent;
  padding: 15px;
  margin-right: 12px;
}
.form__input::placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-transform: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer__form-button {
  fill: rgb(255, 255, 255);
}

.button__svg {
  margin-left: 10px;
}

.portfolio__buttons-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 575px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.portfolio__button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  text-transform: none;
  width: auto;
  height: auto;
  background-color: rgb(245, 244, 250);
  color: rgb(33, 33, 33);
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__button:hover, .portfolio__button:focus {
  background-color: rgb(33, 150, 243);
  color: rgb(255, 255, 255);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 32px;
}

.portfolio__item {
  width: 370px;
  min-height: 404px;
}

.item__footer {
  border: 1px solid rgb(238, 238, 238);
  border-radius: 0px;
  border-top: none;
  padding: 20px 24px;
}

.portfolio__item-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-transform: none;
  text-align: start;
  color: #212121;
  margin-bottom: 4px;
}

.portfolio__item-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  text-transform: none;
  color: rgb(117, 117, 117);
}

.portfolio__overlay-container {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__overlay-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  text-transform: none;
  width: 322px;
  color: rgb(255, 255, 255);
}

.portfolio__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__link:hover .portfolio__overlay, .portfolio__link:focus .portfolio__overlay {
  transform: translateY(0);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 1000ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 40px;
  transition: transform 1000ms;
}

.close-modal-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  padding: 0px;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-modal-btn:hover, .close-modal-btn:focus {
  fill: rgb(33, 150, 243);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translateX(-100vw);
}

.modal__title {
  display: block;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: none;
  text-align: center;
  color: rgb(33, 33, 33);
  margin-bottom: 12px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__label {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  text-transform: none;
  color: rgb(117, 117, 117);
  cursor: pointer;
}
.form__label:not(:last-of-type) {
  margin-bottom: 10px;
}
.form__label:last-of-type {
  margin-bottom: 20px;
}

.modal__input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding: 12px 42px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus, .modal__input:hover, .modal__input:focus + .input-svg, .modal__input:hover + .input-svg {
  outline: none;
  border-color: rgb(33, 150, 243);
  fill: rgb(33, 150, 243);
}

.input-svg {
  position: absolute;
  top: 29px;
  left: 12px;
  fill: rgb(33, 33, 33);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__textarea {
  width: 448px;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 4px;
  padding: 12px 16px;
}
.modal__textarea::placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  text-transform: none;
}
.modal__textarea:focus {
  outline: none;
  border-color: rgb(33, 150, 243);
}

.checkbox-wrapper {
  margin-bottom: 30px;
}

.checkbox__input {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.checkbox__input:checked + .checbox__custom {
  background-image: url(../images/svg/checkbox-on.svg);
}

.checbox__custom {
  width: 16px;
  height: 15px;
  background-image: url(../images/svg/checkbox-off.svg);
  margin-right: 7px;
}

.checkbox__label {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: rgb(117, 117, 117);
}

.checkbox__label-link {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: rgb(33, 150, 243);
  margin-left: 2px;
}

.modal__submit-button {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: rgb(33, 150, 243);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__submit-button:hover,
.modal__submit-button:focus {
  background-color: #188ce8;
}/*# sourceMappingURL=style.css.map */