.clients__link {
  @extend %flex-centered;
  height: 92px;

  @include bordered(getColor(primary), 4px);

  fill: getColor(primary);

  transition: $main-transition;

  &:hover,
  &:focus {
    border-color: getColor(active);
    fill: getColor(active);
    outline: none;
  }
}

.clients__list {
  display: grid;
  grid-template-columns: min-content min-content;
  gap: 30px;
}

@media screen and (max-width: 767px) {
  .clients__list {
    max-width: 450px;

    margin-left: auto;
    margin-right: auto;
  }

  .clients__link {
    width: 210px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__list {
    grid-template-columns: min-content min-content min-content;
  }

  .clients__list {
    max-width: 738px;

    margin-left: auto;
    margin-right: auto;
  }

  .clients__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__list {
    display: flex;
    justify-content: space-between;
  }

  .clients__link {
    width: 170px;
  }
}
