.social-list {
  display: flex;
  justify-content: space-between;
  width: 206px;
}

.social__link {
  @extend %flex-centered;

  width: 44px;
  height: 44px;

  border-radius: 50%;

  fill: getColor(primary);

  transition: fill $main-transition, background-color $main-transition;

  &:hover,
  &:focus {
    fill: getColor(full-white);
    background-color: getColor(active);
  }
}
