// .container {
//   width: 1200px;

//   padding: 0px 15px;
//   margin-right: auto;
//   margin-left: auto;
// }

.container {
  min-width: 320px;

  padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
