// How to use ------------- @include {mixin name} (properties)

@mixin main-font(
  $weight: 400,
  $size,
  $height,
  $spacing,
  $style: normal,
  $transform: none
) {
  font-family: 'Roboto', sans-serif;
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;

  letter-spacing: $spacing;
  text-transform: $transform;
}

@mixin secondary-font(
  $size,
  $height,
  $spacing,
  $style: normal,
  $transform: none
) {
  font-family: 'Raleway', sens-serif;
  font-style: $style;
  font-weight: 700;
  font-size: $size;
  line-height: $height;

  letter-spacing: $spacing;
  text-transform: $transform;
}

@mixin bordered($color, $radius: 0px) {
  border: 1px solid $color;
  border-radius: $radius;
}
